/* Global and canvas */

html, body {
    margin: 0;
    overscroll-behavior-y: none;
}

.centre {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#canvas {
    height: 100%;
    width: 100%;
    -webkit-user-select: none; /* Safari */
    user-select: none;
}


/* Buttons */
.adjustColourButton {
    /* padding: 40px; */
    width: 100px;
    height: 100px;
    background: transparent;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 20px;
    /* turn off select for touchscreen */
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome */     
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
}

.adjustColourButton:hover {
    cursor: pointer;
}

.adjustColourButton:active {
    background-color: black;
}

.adjustColourButton:disabled {
    /* Allow for border-color to have disabled styling */
    border-color: initial;
    /* allows for mouseup events on a disable element to cancel interval */
    pointer-events: none;
}


#left {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

#up {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#right {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

#down {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#submit {
    /* padding: 20px; */
    /* width: 150px; */
    height: initial;
    width: initial;
    padding: 10px;
    font-size: 15px;
}

/* Colour Display */
#colour {
    font-size: 30px;
}

/* Install instructions */
p, li {
    font-size: larger;
    color: black;
    /* text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; */
    text-align: center;
    -webkit-user-select: none; /* Safari */
    user-select: none;
}

li{
    text-align: start;
}

#install {
    position: relative;
}

@media all and (display-mode: standalone) {
    #install{
        display: none;
    }
}