/* Global */
body {
    margin: 0;
    /* Colour and font */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: black;
    color: lightgrey;
    /*  */
    -webkit-touch-callout: none !important; /* Safari */
    -webkit-user-drag: none !important;
    -webkit-user-modify: none !important;
    -webkit-user-select: none !important; /* Chrome */     
       -moz-user-select: none !important; /* Firefox */
        -ms-user-select: none !important; /* Internet Explorer/Edge */
            user-select: none !important; 
    -webkit-tap-highlight-color: transparent !important; /* Stop hold blue highlight on Android */
}

/* General class for centering things */
.centre {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* General text pages: consent/survey/debrief */
.infoPage {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
}

/* Warnings */
.warning {
    background-color: black;
    color: grey;
    width: 80%;
    text-align: center;
}

/* Surveys */
form {
    padding: 10px;
    max-width: 1000px;
}

/* debrief */
.debriefImage {
    display: block;
    width: 90%;
}