/* Apples across most surveys */
#surveyPage, #debriefPage {
    color: black;
}

/* HTML tags */
fieldset {
    padding: 30px;
    margin-top: 10px;
}

legend {
    font-weight: bold;
}

input[type=number]{
    width: 50px;
}

/* Remove white backgrounds on inputs */
input[type=checkbox], input[type=radio] {
    /* accent-color: black; */
    filter: contrast(60%);
} /* input[type="checkbox"]:not(:checked), input[type="radio"]:not(:checked){ opacity:0.8; } */

input[type="text"], textarea, input[type="email"] {
    background-color: lightgrey; 
}


/* Submit form buttons */
.submitButton {
    font-size: 20px;
    background-color: lightgrey;
    margin-top: 20px;
    padding: 10px;
}

#submitSurvey{
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}

/* Section of surveys */
.surveySection {
    display: flex;
    flex-direction: column;
}

.conditionalQuestion {
    margin-left: 30px;
}

.radioGrid {
    display: grid;
    grid-template-columns: max-content min-content;
    column-gap: 10px;
}


/* Label-input pairs in survey */
.question {
    /* Style labels */
    border-top: 1px solid black;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: bold;
}

.surveySection > input, .conditionalQuestion > input, .surveySection > div, .conditionalQuestion > div {
    /* Indent inputs */
    margin-left: 20px;
    margin-bottom: 20px;
}

/* Turn off borders */
.surveySection > label:first-child, .surveySection > span:first-child {
    border: none;
}



